.p
Application Home
.br
= link_to "Home", main_app.root_path

.p
Look deeply into your app:

.br
= link_to "Gems", 'yardmarshal/gems'

.br
= link_to "Routes", 'yardmarshal/routes'
.br
= link_to "Rack", 'yardmarshal/rack'
.br
= link_to "Rake", 'yardmarshal/rake'
.br
= link_to "Models", 'yardmarshal/models'
.br
= link_to "Views", 'yardmarshal/views'
.br
= link_to "Controllers", 'yardmarshal/controllers'

