.p
Application Home
.br
= link_to "Home", main_app.root_path

.p
Look at your app with the usual rails:
.br
= link_to "Rails Routes",     '/rails/info/routes'
.br
= link_to "Rails Properties", '/rails/info/properties'

.p
Look deeply into your app:

-# use an iterator
.br
= link_to "Routes", 'routes'
.br
= link_to "Rack", 'rack'
.br
= link_to "Assets", 'assets'
.br
= link_to "Gems", 'gems'
.br
= link_to "Models", 'models'

.p
Look deeply into your yardmarshal:
.br
What subengines are installed?
